.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .content {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 52px;
    left: 0;
    right: 0;

    .container {
      flex: 3;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: auto;
    }

    .side {
      flex: 1;
      background-color: #4f4f4f;
      padding: 20px;
      box-sizing: border-box;
      overflow: auto;

      h1,
      h2 {
        color: #fff;
      }
    }
  }

  .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
  }
}

h1,
h2 {
  text-align: center;
  color: #333333;
}
