.section {
  display: flex;
  flex-direction: column;

  .name,
  .template {
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 8px;
  }

  .template {
    height: 150px;

    resize: vertical;
  }
}
