.form {
  margin-bottom: 20px;

  .list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    li {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
    }

    li label {
      font-weight: bold;
      display: flex;
      flex-direction: column;
    }

    li input[type="text"] {
      margin-top: 5px;

      padding: 5px;
      border: none;

      &:focus {
        outline: none;
        border-color: #8a9cff;
        box-shadow: 0 0 5px #8a9cff;
      }
    }
  }
}
