@import 'variables';

:host {
  display: flex;
  flex: 1;

  .app-logo {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 var(--app-padding-large);
    outline: none;
    cursor: pointer;

    > svg {
      fill: var(--app-text-color);
    }
  }

  .app-menu {
    display: flex;

    .app-menu-github-option {
      font-size: var(--app-icon-size-medium);
      min-width: var(--app-min-touch-width);
      color: var(--app-text-color);
      display: flex;

      tyrcord-ui-layout-menu-option {
        padding: 0 var(--app-padding-medium);
      }
    }
  }

  .app-copyright {
    color: var(--app-white-color);
  }

  @media all and (max-width: $app-mobile-max-width) {
    .app-logo > svg {
      height: var(--app-icon-size-medium);
      width: var(--app-icon-size-medium);
    }
  }

  @media all and (min-width: $app-desktop-min-width) {
    .app-logo > svg {
      height: var(--app-icon-size-large);
      width: var(--app-icon-size-large);
    }
  }
}
